<app-main-menu></app-main-menu>

<ion-content [fullscreen]="true">
  <div id="containerPortada"> <img src="/assets/images/logo-portada.png" margin="25%" width="75%" height="30%"></div>
  <div id="container">
    <p id="left">Ever needed to replace your mouse or
      keyboard, but gaming shops were closed?
      Don't worry anymore, were are here with the
      latest technology with the best prices open
      during 24 hours, 7 days and 12 months.</p>
  </div><br>
  <div id="centerDiv">
    <p id="arcade">Product &nbsp; Version = Beta</p>
    <p id="center">Requirements for the app:</p>
    <p id="arcade">-2gb &nbsp; ram</p>
    <p id="arcade">-android &nbsp; system</p>
  </div><br>
  <p id="besthands">You will be in the best hands:</p>
  <app-slider></app-slider>
</ion-content>
<app-footer></app-footer>